@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Roboto:wght@300&display=swap');

body {
    display:flex;
    flex-direction:column;
    background-color: #F78D23;
    font-family:'Manrope', sans-serif;
}

header {
    background-color: #F78D23;
    display:flex;
    justify-content:center;
    align-items:center;
    height:400px;
}


.container {
    display:grid;
    grid-template-columns:repeat(16, 100px);
    grid-template-rows:repeat(16,100px);
    background-color:white;
    height:1600px;
    width:1600px;
    margin:0 auto;
    

}

h1 {
    font-size: 70px;
}